<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqvip.moblelib.ahslsd"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- scan -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/global_font" >
        <activity
            android:name="com.cqvip.moblelib.activity.MainMenuActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.EntanceGuideActivity"
            android:label="@string/title_activity_entance_guide"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.BookSearchActivity"
            android:label="@string/title_activity_book_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cqvip.moblelib.activity.ReaderServiceActivity"
            android:label="@string/title_activity_reader_service"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.EBookActiviy"
            android:label="@string/title_activity_ebook_activiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cqvip.moblelib.activity.ResultForSearchActivity"
            android:label="@string/title_activity_result_for_search"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.SuggestedReadingActivity"
            android:label="@string/title_activity_suggested_reading"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.RefServiceActivity"
            android:label="@string/title_activity_ref_service"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.PersonalCenterActivity"
            android:label="@string/title_activity_personal_center"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.AnnounceActivity"
            android:label="@string/title_activity_announce"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.BorrowAndOrderActivity"
            android:label="@string/title_activity_borrow_and_order"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.GroupOfReadersActivity"
            android:label="@string/title_activity_group_of_readers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.LibInnerNavigationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.DetailTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.ReaderinfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <service android:name="com.cqvip.moblelib.biz.ManagerService" >
            <intent-filter>
                <action android:name="com.cqvip.moblelib.mainbiz" />
            </intent-filter>
        </service>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.cqvip.moblelib.activity.ResultOnSearchActivity"
            android:label="@string/title_activity_result_on_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.cqvip.moblelib.activity.DetailBookActivity"
            android:label="@string/title_activity_detail_book"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.scan.CaptureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.cqvip.moblelib.activity.MyFavorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.ActivityDlg"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.cqvip.moblelib.activity.EBookSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.cqvip.moblelib.activity.EbookDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.cqvip.moblelib.activity.AdvancedBookActivity"
            android:label="@string/title_activity_advanced_book"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.DetailAdvancedBookActivity"
            android:label="@string/title_activity_detail_advanced_book"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.AnnouceListActivity"
            android:label="@string/title_activity_annouce_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.BigImgActivity"
            android:label="@string/title_activity_big_img"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.HelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cqvip.moblelib.activity.DownLoadManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.WebViewAnnouceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- pdf -->
        <activity
            android:name="com.artifex.mupdfdemo.MuPDFActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.ms-xpsdocument" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/x-cbz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xps" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.cbz" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.artifex.mupdfdemo.OutlineActivity"
            android:label="@string/outline_title"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.PeriodicalClassfyActivity"
            android:label="@string/title_activity_periodical_classfy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.PeriodicalListActivity"
            android:label="@string/title_activity_periodical_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.PeriodicalContentActivity"
            android:label="@string/title_activity_periodical_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.PeriodicalCenterActivity"
            android:label="@string/title_activity_periodical_center"
            android:screenOrientation="portrait" >
        </activity>

        <!-- share -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
            	Dropbox的SSO功能需要在此处添加一个对ACTION_VIEW事件的过滤器，其中的scheme是
            	“db-”前缀再开发者应用的加上appKey。如果此过滤器不设置，则不能完成SSO功能授权
            -->
            <intent-filter>
                <data android:scheme="db-7janx53ilz11gbs" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.MessageInfoActivity"
            android:label="@string/title_activity_message_info" >
        </activity>
        <activity
            android:name="com.cqvip.moblelib.activity.ZLFBookDetailActivity"
            android:label="@string/title_activity_zlfbook_detail" >
        </activity>
        
                <!-- UMENG -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="548942defd98c56e4e000c8c" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

</manifest>